/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 40vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #555;
  }
  
  .btn-enroll {
    padding: 0.5rem 1rem;
    background-color: #001F54;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .login-button {
    color: #007bff;
    font-weight: bold;
    margin-right: 10px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup-button {
    color: #28a745;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #007bff;
    color: #fff;
}

.signup-button:hover {
    background-color: #28a745;
    color: #fff;
}